#poll-creator {
  display: flex;
  flex-direction: column;
}

textarea {
 resize: none;
}

#poll {
  display: flex;
  flex-direction: column;
}

#poll-options {
  display: flex;
  flex-direction: column;
}

.option {
  margin: 0.2em;
}

#add-option {
  margin-bottom: 0.2em;
}

#submission {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0.5em;

}

#req-names {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit-button {
  background-color: green;
}

#reset-button {
  background-color: red;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-self: center;
}

.link {
  background-color: gainsboro;
}

